Source: ros-jazzy-mola-gnss-to-markers
Section: misc
Priority: optional
Maintainer: José Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-lint-cmake <!nocheck>, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-mrpt-libobs, ros-jazzy-mrpt-nav-interfaces, ros-jazzy-rclcpp, ros-jazzy-std-msgs, ros-jazzy-visualization-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-mola-gnss-to-markers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-mrpt-libobs, ros-jazzy-mrpt-nav-interfaces, ros-jazzy-rclcpp, ros-jazzy-std-msgs, ros-jazzy-visualization-msgs, ros-jazzy-ros-workspace
Description: Takes GNSS (GPS) readings, a MOLA georeferenced map, and publishes markers to visualize the datums as ellipsoids on the map
